@use "breakpoint" as *;

// Milanesa Serif font faces
@font-face {
  font-style: normal;
  font-weight: 100;
  src:
    local("Milanesa Serif Thin"),
    local("MilanesaSerif-Thin"),
    url("/fonts/MilanesaSerif-Thin.otf") format("opentype");
  font-family: "Milanesa Serif";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src:
    local("Milanesa Serif Light"),
    local("MilanesaSerif-Light"),
    url("/fonts/MilanesaSerif-Light.otf") format("opentype");
  font-family: "Milanesa Serif";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local("Milanesa Serif Regular"),
    local("MilanesaSerif-Regular"),
    url("/fonts/MilanesaSerif-Regular.otf") format("opentype");
  font-family: "Milanesa Serif";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    local("Milanesa Serif DemiBold"),
    local("MilanesaSerif-DemiBold"),
    url("/fonts/MilanesaSerif-DemiBold.otf") format("opentype");
  font-family: "Milanesa Serif";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local("Milanesa Serif Bold"),
    local("MilanesaSerif-Bold"),
    url("/fonts/MilanesaSerif-Bold.otf") format("opentype");
  font-family: "Milanesa Serif";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 800;
  src:
    local("Milanesa Serif ExtraBold"),
    local("MilanesaSerif-ExtraBold"),
    url("/fonts/MilanesaSerif-ExtraBold.otf") format("opentype");
  font-family: "Milanesa Serif";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src:
    local("Milanesa Serif Black"),
    local("MilanesaSerif-Black"),
    url("/fonts/MilanesaSerif-Black.otf") format("opentype");
  font-family: "Milanesa Serif";
  font-display: swap;
}

// Roboto Mono font faces
@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto Mono Regular"),
    local("RobotoMono-Regular"),
    url("/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-family: "Roboto Mono";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src:
    local("Roboto Mono Medium Italic"),
    local("RobotoMono-MediumItalic"),
    url("/fonts/RobotoMono-MediumItalic.ttf") format("truetype");
  font-family: "Roboto Mono";
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    local("Roboto Mono SemiBold"),
    local("RobotoMono-SemiBold"),
    url("/fonts/RobotoMono-SemiBold.ttf") format("truetype");
  font-family: "Roboto Mono";
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src:
    local("Roboto Mono SemiBold Italic"),
    local("RobotoMono-SemiBoldItalic"),
    url("/fonts/RobotoMono-SemiBoldItalic.ttf") format("truetype");
  font-family: "Roboto Mono";
  font-display: swap;
}

@layer base {
  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    text-wrap: balance;
  }

  h1,
  h2 {
    font-weight: 700;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h1 {
    font-size: var(--font-size-6);
    line-height: var(--font-size-7);
  }

  h2 {
    font-size: var(--font-size-5);
    line-height: var(--font-size-6);
  }

  h3 {
    font-size: var(--font-size-4);
    line-height: var(--font-size-5);
  }

  h4 {
    font-size: var(--font-size-3);
    line-height: var(--font-size-4);
  }

  h5 {
    font-size: var(--font-size-2);
    line-height: var(--font-size-3);
  }

  h6 {
    font-size: var(--font-size-1);
    line-height: var(--font-size-2);
  }
}
