@use 'breakpoint' as *;

// ABC Diatype Semi Mono font faces
@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local('ABC Diatype Semi Mono Regular'),
    local('ABCDiatypeSemi-Mono-Regular'),
    url('/fonts/ABCDiatypeSemi-Mono-Regular-Trial.otf') format('opentype');
  font-family: 'ABC Diatype Semi Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src:
    local('ABC Diatype Semi Mono Light'),
    local('ABCDiatypeSemi-Mono-Light'),
    url('/fonts/ABCDiatypeSemi-Mono-Regular-Trial.otf') format('opentype');
  font-family: 'ABC Diatype Semi Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src:
    local('ABC Diatype Semi Mono Medium'),
    local('ABCDiatypeSemi-Mono-Medium'),
    url('/fonts/ABCDiatypeSemi-Mono-Regular-Trial.otf') format('opentype');
  font-family: 'ABC Diatype Semi Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    local('ABC Diatype Semi Mono SemiBold'),
    local('ABCDiatypeSemi-Mono-SemiBold'),
    url('/fonts/ABCDiatypeSemi-Mono-Regular-Trial.otf') format('opentype');
  font-family: 'ABC Diatype Semi Mono';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local('ABC Diatype Semi Mono Bold'),
    local('ABCDiatypeSemi-Mono-Bold'),
    url('/fonts/ABCDiatypeSemi-Mono-Regular-Trial.otf') format('opentype');
  font-family: 'ABC Diatype Semi Mono';
  font-display: swap;
}

// ABC Marist font faces
@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    local('ABC Marist Book Italic'),
    local('ABCMarist-BookItalic'),
    url('/fonts/ABCMarist-BookItalic-Trial.otf') format('opentype');
  font-family: 'ABC Marist';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src:
    local('ABC Marist Light Italic'),
    local('ABCMarist-LightItalic'),
    url('/fonts/ABCMarist-BookItalic-Trial.otf') format('opentype');
  font-family: 'ABC Marist';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src:
    local('ABC Marist Medium Italic'),
    local('ABCMarist-MediumItalic'),
    url('/fonts/ABCMarist-BookItalic-Trial.otf') format('opentype');
  font-family: 'ABC Marist';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 600;
  src:
    local('ABC Marist SemiBold Italic'),
    local('ABCMarist-SemiBoldItalic'),
    url('/fonts/ABCMarist-BookItalic-Trial.otf') format('opentype');
  font-family: 'ABC Marist';
  font-display: swap;
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src:
    local('ABC Marist Bold Italic'),
    local('ABCMarist-BoldItalic'),
    url('/fonts/ABCMarist-BookItalic-Trial.otf') format('opentype');
  font-family: 'ABC Marist';
  font-display: swap;
}

@layer base {
  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    text-wrap: balance;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h1 {
    font-size: var(--font-size-6);
    line-height: var(--font-size-7);
  }

  h2 {
    font-size: var(--font-size-5);
    line-height: var(--font-size-6);
  }

  h3 {
    font-size: var(--font-size-4);
    line-height: var(--font-size-5);
  }

  h4 {
    font-size: var(--font-size-3);
    line-height: var(--font-size-4);
  }

  h5 {
    font-size: var(--font-size-2);
    line-height: var(--font-size-3);
  }

  h6 {
    font-size: var(--font-size-1);
    line-height: var(--font-size-2);
  }
}
