---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Lineup from '@components/Lineup.astro'
---

<DefaultLayout title="Hopkins Creek Festival">

  <section class="my-18">
      <Hero />
  </section>
  <section class="">
        <Lineup />
  </section>
</DefaultLayout>
