---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import StrapiExample from "../components/StrapiExample.astro";
---

<DefaultLayout title="Strapi 5 Integration Test">
  <main>
    <StrapiExample />
  </main>
</DefaultLayout>
