---
import Logo from "./Logo.astro";

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear();
---

<footer>
  <section class="py-20">
    <h2 class="sr-only">Footer</h2>
    <div class="container grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Navigation</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/">Home</a></li>
          <li><a href="/portfolio">Artists</a></li>
          <li><a href="/info">Festival Info</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Festival Info</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/info/camping">Camping & Accommodation</a></li>
          <li><a href="/info/tickets">Tickets</a></li>
          <li><a href="/info/travel">Travel & Entry</a></li>
          <li><a href="/info/accessibility">Accessibility</a></li>
          <li><a href="/info/sustainability">Sustainability</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-2xl font-bold">Legal</h3>
        <ul class="flex flex-col gap-2">
          <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="flex flex-col gap-4">
        <Logo loading="lazy" />
        <p class="leading-[1.75]">
          Hopkins Creek Festival - A celebration of music, art, and community.
        </p>
      </div>
    </div>
  </section>
  <section class="py-8">
    <div class="container flex flex-col gap-4 md:flex-row md:justify-between">
      <p>
        &copy; {currentYear} - Hopkins Creek Festival. All rights reserved.
      </p>
      <p>
        Website built with <a href="https://astro.build/">Astro</a>.
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
