---
import Navigation from './Navigation.astro'
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/program/">Program</a>
    </li>
    <!-- Info Dropdown -->
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Info
        <Icon name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/info/">Festival Info</a>
        </li>
        <li class="submenu-item">
          <a href="/info/camping">Camping & Accommodation</a>
        </li>
        <li class="submenu-item">
          <a href="/info/motor-inn">The Motor Inn</a>
        </li>
        <li class="submenu-item">
          <a href="/info/accessibility">Accessibility</a>
        </li>
        <li class="submenu-item">
          <a href="/info/travel">Travel & Entry</a>
        </li>
        <li class="submenu-item">
          <a href="/info/safety">Arrival, Weather & Safety</a>
        </li>
        <li class="submenu-item">
          <a href="/info/applications">Applications</a>
        </li>
        <li class="submenu-item">
          <a href="/info/tickets">Tickets</a>
        </li>
        <li class="submenu-item">
          <a href="/info/sustainability">Sustainability</a>
        </li>
        <li class="submenu-item">
          <a href="/privacy-policy/">Privacy Policy</a>
        </li>
      </ul>
    </li>
    <li class="menu-item highlight">
      <a href="#tickets"> Tickets </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon name="lucide:moon" slot="light" />
        <Icon name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
  main {
    padding-top: 5rem; // Adjust if sticky nav height changes
  }
</style>
