---

import HeroHeading from '@assets/images/projects/HeroHeading.svg';
import HerooGallery from '@assets/images/projects/HeroGallery.jpg';

import Image from 'astro/components/Image.astro';

---
<section class='container m-12'>
<Image
    src={HeroHeading}
    alt="Hopkins Creek Festival logo"
    loading="eager"
    quality="high"
    class="hero-heading"
    />
<Image
class='p-4 my-8'
    src={HerooGallery}
    alt="Hopkins Creek Festival logo"
    loading="eager"
    quality="high"

    />
</section>

<style>
  .container {
    gap: var(--space-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-heading,
.hero-gallery {
  margin: 0;
  padding: 0;
}

.hero-heading svg {
  display: block;
  width: 100%;
  height: auto;
}
</style>