---
/**
 * Logo Component
 *
 * @description Logo description
 */
---

<a href="/" class="flex items-center gap-2 !no-underline">
  <span class="font-bold">Hopkins Creek</span>
</a>

<style lang="scss">
  a {
    color: var(--foreground-color);
  }
</style>
