<div class="relative w-full h-72">
  <!-- Sticky navbar -->
  <nav class="absolute top-0 shadow-sm navbar bg-base-100 md:h-15 start-0 z-1 shadow-base-300/20">
    <div class="w-full md:flex md:items-center md:gap-2">
      <div class="flex items-center justify-between max-md:w-full">
        <div class="items-center justify-between navbar-start max-md:w-full">
          <a class="text-xl font-bold no-underline link text-base-content link-neutral" href="#">FlyonUI</a>
        </div>
        <div class="md:hidden">
          <button type="button" class="collapse-toggle btn btn-outline btn-secondary btn-sm btn-square" data-collapse="#sticky-navbar-collapse" aria-controls="sticky-navbar-collapse" aria-label="Toggle navigation" >
            <span class="icon-[tabler--menu-2] collapse-open:hidden size-4"></span>
            <span class="icon-[tabler--x] collapse-open:block hidden size-4"></span>
          </button>
        </div>
      </div>
      <div id="sticky-navbar-collapse" class="md:navbar-end collapse hidden grow basis-full overflow-hidden transition-[height] duration-300 max-md:w-full" >
        <ul class="gap-2 p-0 text-base menu md:menu-horizontal max-md:mt-2">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li class="dropdown relative inline-flex [--auto-close:inside] [--offset:10] [--placement:bottom-end]">
            <button id="dropdown-sticky" type="button" class="dropdown-toggle dropdown-open:bg-base-content/10 dropdown-open:text-base-content" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown" >
              Parent
              <span class="icon-[tabler--chevron-down] dropdown-open:rotate-180 size-4"></span>
            </button>
            <ul class="hidden dropdown-menu dropdown-open:opacity-100" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-sticky" >
              <li><a class="dropdown-item" href="#">Link 3</a></li>
              <li><a class="dropdown-item" href="#">Link 4</a></li>
              <li><a class="dropdown-item" href="#">Link 5</a></li>
              <hr class="-mx-2 border-base-content/25" />
              <li><a class="dropdown-item" href="#">Link 6</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Demo content -->
  <div class="absolute w-full h-full pt-4 overflow-y-auto top-15 pe-2">
    <div class="flex flex-col w-full gap-4">
      <div class="flex items-center gap-4 mb-4">
        <div class="w-16 h-16 rounded-full skeleton"></div>
        <div class="flex flex-col gap-4">
          <div class="h-4 skeleton w-52"></div>
          <div class="h-4 skeleton w-52"></div>
        </div>
      </div>
      <div class="w-full h-16 mb-4 skeleton"></div>
      <div class="w-full h-32 mb-4 skeleton"></div>
    </div>
  </div>
</div>