{
  "singleQuote": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "singleQuote": true
      }
    }
  ]
}
{
  "printWidth": 40,
  "htmlWhitespaceSensitivity": "ignore"
  },
